In this notebook, we will work with data from the American Community Survey on job outcome statistics based on college majors. We will focus on the 2010-2012 data for recent college grads only. Let's start by importing sqlite and connect to the jobs.db

In [1]:
# import libraries
import sqlite3
import pandas as pd

# establish a connexion to the database
conn = sqlite3.connect("jobs.db")

Run a query that returns the first 10 rows of the facts table in the database.

In [2]:
q1 = "SELECT * FROM  recent_grads LIMIT 10"
pd.read_sql_query(q1, conn)

,index,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
5,5,6,2418,NUCLEAR ENGINEERING,Engineering,2573,17,2200,373,0.144967,...,264,1449,400,0.177226,65000,50000,102000,1142,657,244
6,6,7,6202,ACTUARIAL SCIENCE,Business,3777,51,832,960,0.535714,...,296,2482,308,0.095652,62000,53000,72000,1768,314,259
7,7,8,5001,ASTRONOMY AND ASTROPHYSICS,Physical Sciences,1792,10,2110,1667,0.441356,...,553,827,33,0.021167,62000,31500,109000,972,500,220
8,8,9,2414,MECHANICAL ENGINEERING,Engineering,91227,1029,12953,2105,0.139793,...,13101,54639,4650,0.057342,60000,48000,70000,52844,16384,3253
9,9,10,2408,ELECTRICAL ENGINEERING,Engineering,81527,631,8407,6548,0.437847,...,12695,41413,3895,0.059174,60000,45000,72000,45829,10874,3170

We will write a SQL query that returns the majors where females were a minority.

In [3]:
q2 = '''
SELECT Major, ShareWomen FROM recent_grads WHERE ShareWomen < 0.5
'''
pd.read_sql_query(q2, conn)

                                                Major  ShareWomen
0                               PETROLEUM ENGINEERING    0.120564
1                      MINING AND MINERAL ENGINEERING    0.101852
2                           METALLURGICAL ENGINEERING    0.153037
3           NAVAL ARCHITECTURE AND MARINE ENGINEERING    0.107313
4                                CHEMICAL ENGINEERING    0.341631
5                                 NUCLEAR ENGINEERING    0.144967
6                          ASTRONOMY AND ASTROPHYSICS    0.441356
7                              MECHANICAL ENGINEERING    0.139793
8                              ELECTRICAL ENGINEERING    0.437847
9                                COMPUTER ENGINEERING    0.199413
10                              AEROSPACE ENGINEERING    0.196450
11                             BIOMEDICAL ENGINEERING    0.119559
12                                  MATERIALS SCIENCE    0.310820
13          ENGINEERING MECHANICS PHYSICS AND SCIENCE    0.183985
14                             BIOLOGICAL ENGINEERING    0.320784
15           INDUSTRIAL AND MANUFACTURING ENGINEERING    0.343473
16                                GENERAL ENGINEERING    0.252960
17                          ARCHITECTURAL ENGINEERING    0.350442
18                                    COURT REPORTING    0.236063
19                                       FOOD SCIENCE    0.222695
20                  ELECTRICAL ENGINEERING TECHNOLOGY    0.325092
21        MATERIALS ENGINEERING AND MATERIALS SCIENCE    0.292607
22      MANAGEMENT INFORMATION SYSTEMS AND STATISTICS    0.278790
23                                  CIVIL ENGINEERING    0.227118
24                              CONSTRUCTION SERVICES    0.342229
25                OPERATIONS LOGISTICS AND E-COMMERCE    0.322222
26                          MISCELLANEOUS ENGINEERING    0.189970
27                                      PUBLIC POLICY    0.251389
28                           ENGINEERING TECHNOLOGIES    0.090713
29                            MISCELLANEOUS FINE ARTS    0.410180
..                                                ...         ...
46  PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...    0.451465
47                                  MOLECULAR BIOLOGY    0.077453
48    MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION    0.200023
49             MISCELLANEOUS ENGINEERING TECHNOLOGIES    0.000000
50        MECHANICAL ENGINEERING RELATED TECHNOLOGIES    0.377437
51           INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY    0.436302
52                                  PHYSICAL SCIENCES    0.426924
53                              MILITARY TECHNOLOGIES    0.429685
54  ELECTRICAL, MECHANICAL, AND PRECISION TECHNOLO...    0.232444
55                   MARKETING AND MARKETING RESEARCH    0.382900
56                   POLITICAL SCIENCE AND GOVERNMENT    0.485930
57                                          GEOGRAPHY    0.473190
58    COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY    0.180883
59         COMPUTER NETWORKING AND TELECOMMUNICATIONS    0.305005
60                          GEOLOGY AND EARTH SCIENCE    0.470197
61                              PUBLIC ADMINISTRATION    0.476461
62                                     COMMUNICATIONS    0.305109
63               CRIMINAL JUSTICE AND FIRE PROTECTION    0.125035
64                  COMMERCIAL ART AND GRAPHIC DESIGN    0.374356
65                            SPECIAL NEEDS EDUCATION    0.366177
66           TRANSPORTATION SCIENCES AND TECHNOLOGIES    0.321296
67                                       NEUROSCIENCE    0.475010
68                    MULTI/INTERDISCIPLINARY STUDIES    0.495397
69               ATMOSPHERIC SCIENCES AND METEOROLOGY    0.124950
70         EDUCATIONAL ADMINISTRATION AND SUPERVISION    0.448732
71                   PHILOSOPHY AND RELIGIOUS STUDIES    0.416810
72                    ENGLISH LANGUAGE AND LITERATURE    0.339671
73             SCIENCE AND COMPUTER TEACHER EDUCATION    0.423209
74                                              MUSIC    0.444582
75             COSMETOLOGY SERVICES AND CULINARY ARTS    0.383719

[76 rows x 2 columns]

Select all majors with majority female and a median salary greater than 50000.

In [4]:
q3 = '''
SELECT Major, Major_category, Median, ShareWomen FROM recent_grads WHERE ShareWomen > 0.5 AND Median > 50000
'''

pd.read_sql_query(q3, conn)

               Major           Major_category  Median  ShareWomen
0  ACTUARIAL SCIENCE                 Business   62000    0.535714
1   COMPUTER SCIENCE  Computers & Mathematics   53000    0.578766

Run a query that returns the Engineering or Physical Sciences majors in asecending order of unemployment rates.

In [5]:
q4 = '''
SELECT Major_category, Major, Unemployment_rate FROM recent_grads 
WHERE Major_category == "Engineering" OR Major_category = "Physical Sciences" 
ORDER BY Unemployment_rate 
'''

pd.read_sql_query(q4, conn)

,Major_category,Major,Unemployment_rate
0,Engineering,ENGINEERING MECHANICS PHYSICS AND SCIENCE,0.006334
1,Engineering,PETROLEUM ENGINEERING,0.018381
2,Physical Sciences,ASTRONOMY AND ASTROPHYSICS,0.021167
3,Physical Sciences,ATMOSPHERIC SCIENCES AND METEOROLOGY,0.022229
4,Engineering,MATERIALS SCIENCE,0.023043
5,Engineering,METALLURGICAL ENGINEERING,0.024096
6,Physical Sciences,GEOSCIENCES,0.024374
7,Engineering,MATERIALS ENGINEERING AND MATERIALS SCIENCE,0.027789
8,Engineering,INDUSTRIAL PRODUCTION TECHNOLOGIES,0.028308
9,Engineering,ENGINEERING AND INDUSTRIAL MANAGEMENT,0.033652
10,Physical Sciences,PHYSICAL SCIENCES,0.035354
11,Engineering,INDUSTRIAL AND MANUFACTURING ENGINEERING,0.042876
12,Physical Sciences,PHYSICS,0.048224
13,Engineering,NAVAL ARCHITECTURE AND MARINE ENGINEERING,0.050125
14,Engineering,MISCELLANEOUS ENGINEERING TECHNOLOGIES,0.052539
15,Physical Sciences,CHEMISTRY,0.053972
16,Engineering,ENGINEERING TECHNOLOGIES,0.055030
17,Physical Sciences,MULTI-DISCIPLINARY OR GENERAL SCIENCE,0.055807
18,Engineering,MECHANICAL ENGINEERING RELATED TECHNOLOGIES,0.056357
19,Physical Sciences,OCEANOGRAPHY,0.056995
20,Engineering,MECHANICAL ENGINEERING,0.057342
21,Engineering,ELECTRICAL ENGINEERING,0.059174
22,Engineering,GENERAL ENGINEERING,0.059824
23,Engineering,CHEMICAL ENGINEERING,0.061098
24,Engineering,ARCHITECTURAL ENGINEERING,0.061931
25,Engineering,AEROSPACE ENGINEERING,0.065162
26,Engineering,COMPUTER ENGINEERING,0.065409
27,Engineering,CIVIL ENGINEERING,0.070610
28,Physical Sciences,"NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL ...",0.071540
29,Engineering,MISCELLANEOUS ENGINEERING,0.074393
30,Engineering,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,0.075038
31,Physical Sciences,GEOLOGY AND EARTH SCIENCE,0.075449
32,Engineering,BIOLOGICAL ENGINEERING,0.087143
33,Engineering,ELECTRICAL ENGINEERING TECHNOLOGY,0.087557
34,Engineering,BIOMEDICAL ENGINEERING,0.092084
35,Engineering,ENVIRONMENTAL ENGINEERING,0.093589
36,Engineering,ARCHITECTURE,0.113332
37,Engineering,MINING AND MINERAL ENGINEERING,0.117241
38,Engineering,NUCLEAR ENGINEERING,0.177226

Run a query that returns the Engineering major with the lowest median salary.

In [6]:
q5 = '''
SELECT Major, Major_category, MIN(Median) FROM recent_grads 
WHERE Major_category == "Engineering" 
'''

pd.read_sql_query(q5, conn)

          Major Major_category  MIN(Median)
0  ARCHITECTURE    Engineering        40000

Run a query that computes the average of the Total column, the minimum of the Men column, and the maximum of the Women column, in that specific order.

In [7]:
q6 = '''
SELECT AVG(Total), MIN(Men), MAX(Women) FROM recent_grads 
'''

pd.read_sql_query(q6, conn)

     AVG(Total)  MIN(Men)  MAX(Women)
0  39167.716763       119      307087

Run a query that returns the number of unique values in the `Major`, `Major_category`, and `Major_code` columns.

In [8]:
q7 = '''
SELECT COUNT(DISTINCT(Major)) "unique_majors", COUNT(DISTINCT(Major_category)) "unique_major_categories", COUNT(DISTINCT(Major_code)) "unique_major_codes" FROM recent_grads
'''

pd.read_sql_query(q7, conn)

   unique_majors  unique_major_categories  unique_major_codes
0            173                       16                 173

Run a query that computes the difference between the 25th and 75th percentile of salaries for all majors and order the results from lowest to highest and only return the first 20 results.

In [9]:
q8 = '''
SELECT Major, Major_category, (P75th - P25th) quartile_spread FROM recent_grads 
ORDER BY quartile_spread 
LIMIT 20
'''

pd.read_sql_query(q8, conn)

,Major,Major_category,quartile_spread
0,MILITARY TECHNOLOGIES,Industrial Arts & Consumer Services,0
1,SCHOOL STUDENT COUNSELING,Education,2000
2,LIBRARY SCIENCE,Education,2000
3,COURT REPORTING,Law & Public Policy,4000
4,PHARMACOLOGY,Biology & Life Science,5000
5,EDUCATIONAL ADMINISTRATION AND SUPERVISION,Education,6000
6,COUNSELING PSYCHOLOGY,Psychology & Social Work,6800
7,SPECIAL NEEDS EDUCATION,Education,10000
8,MATHEMATICS TEACHER EDUCATION,Education,10000
9,SOCIAL WORK,Psychology & Social Work,10000
10,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,10000
11,GENETICS,Biology & Life Science,11000
12,SOCIAL PSYCHOLOGY,Psychology & Social Work,11000
13,SCIENCE AND COMPUTER TEACHER EDUCATION,Education,11000
14,HUMAN SERVICES AND COMMUNITY ORGANIZATION,Psychology & Social Work,11000
15,UNITED STATES HISTORY,Humanities & Liberal Arts,12000
16,SECONDARY TEACHER EDUCATION,Education,13000
17,TEACHER EDUCATION: MULTIPLE LEVELS,Education,13000
18,ENVIRONMENTAL ENGINEERING,Engineering,14000
19,MEDICAL TECHNOLOGIES TECHNICIANS,Health,14000

Run a query to find the percentage of graduates who are employed for each major category.

In [10]:
q9 = '''
SELECT Major_category, AVG(Employed)/AVG(Total) share_employed FROM recent_grads GROUP BY Major_category
'''

pd.read_sql_query(q9, conn)

                         Major_category  share_employed
0       Agriculture & Natural Resources        0.836986
1                                  Arts        0.806748
2                Biology & Life Science        0.667157
3                              Business        0.835966
4           Communications & Journalism        0.842229
5               Computers & Mathematics        0.795611
6                             Education        0.858190
7                           Engineering        0.781967
8                                Health        0.803374
9             Humanities & Liberal Arts        0.762638
10  Industrial Arts & Consumer Services        0.822670
11                    Interdisciplinary        0.798715
12                  Law & Public Policy        0.808399
13                    Physical Sciences        0.750656
14             Psychology & Social Work        0.790724
15                       Social Science        0.757583

Run a query to determine the share of degree jobs by major category for which the share is less than 0.3.

In [11]:
q10 = '''
SELECT Major_category, ROUND(AVG(College_jobs)/AVG(Total), 3) share_degree_jobs FROM recent_grads 
GROUP BY Major_category HAVING share_degree_jobs < 0.3
'''

pd.read_sql_query(q10, conn)

                        Major_category  share_degree_jobs
0      Agriculture & Natural Resources              0.248
1                                 Arts              0.265
2                             Business              0.114
3          Communications & Journalism              0.220
4            Humanities & Liberal Arts              0.270
5  Industrial Arts & Consumer Services              0.249
6                  Law & Public Policy              0.163
7                       Social Science              0.215

Run a query that returns the majors that are below the average for `Unemployment_rate`.

In [12]:
q11 = '''
SELECT Major, Unemployment_rate FROM recent_grads 
WHERE Unemployment_rate < (SELECT AVG(Unemployment_rate) FROM recent_grads) 
ORDER BY Unemployment_rate
'''

pd.read_sql_query(q11, conn)

                                                Major  Unemployment_rate
0                    MATHEMATICS AND COMPUTER SCIENCE           0.000000
1                                              BOTANY           0.000000
2                                        SOIL SCIENCE           0.000000
3          EDUCATIONAL ADMINISTRATION AND SUPERVISION           0.000000
4           ENGINEERING MECHANICS PHYSICS AND SCIENCE           0.006334
5                                     COURT REPORTING           0.011690
6                       MATHEMATICS TEACHER EDUCATION           0.016203
7                               PETROLEUM ENGINEERING           0.018381
8                                 GENERAL AGRICULTURE           0.019642
9                          ASTRONOMY AND ASTROPHYSICS           0.021167
10               ATMOSPHERIC SCIENCES AND METEOROLOGY           0.022229
11                                  MATERIALS SCIENCE           0.023043
12                          METALLURGICAL ENGINEERING           0.024096
13                                        GEOSCIENCES           0.024374
14        MATERIALS ENGINEERING AND MATERIALS SCIENCE           0.027789
15                 INDUSTRIAL PRODUCTION TECHNOLOGIES           0.028308
16  ELECTRICAL, MECHANICAL, AND PRECISION TECHNOLO...           0.029480
17                                  SOCIAL PSYCHOLOGY           0.029650
18              ENGINEERING AND INDUSTRIAL MANAGEMENT           0.033652
19                                           GENETICS           0.034118
20                                  PHYSICAL SCIENCES           0.035354
21                 TEACHER EDUCATION: MULTIPLE LEVELS           0.036546
22                   MEDICAL TECHNOLOGIES TECHNICIANS           0.036983
23          HUMAN SERVICES AND COMMUNITY ORGANIZATION           0.037819
24                            ART AND MUSIC EDUCATION           0.038638
25                          EARLY CHILDHOOD EDUCATION           0.040105
26                            SPECIAL NEEDS EDUCATION           0.041508
27                         MEDICAL ASSISTING SERVICES           0.042507
28           INDUSTRIAL AND MANUFACTURING ENGINEERING           0.042876
29                                            NURSING           0.044863
..                                                ...                ...
57                                       OCEANOGRAPHY           0.056995
58                             MECHANICAL ENGINEERING           0.057342
59                                  GENERAL EDUCATION           0.057360
60      MANAGEMENT INFORMATION SYSTEMS AND STATISTICS           0.058240
61                              MISCELLANEOUS BIOLOGY           0.058545
62                             ELECTRICAL ENGINEERING           0.059174
63                            MISCELLANEOUS EDUCATION           0.059212
64           HUMAN RESOURCES AND PERSONNEL MANAGEMENT           0.059570
65                          MISCELLANEOUS AGRICULTURE           0.059767
66                      TREATMENT THERAPY PROFESSIONS           0.059821
67                                GENERAL ENGINEERING           0.059824
68                              CONSTRUCTION SERVICES           0.060023
69                          ART HISTORY AND CRITICISM           0.060298
70                                            FINANCE           0.060686
71                               INFORMATION SCIENCES           0.060741
72                               CHEMICAL ENGINEERING           0.061098
73                             HOSPITALITY MANAGEMENT           0.061169
74                   MARKETING AND MARKETING RESEARCH           0.061215
75                          ARCHITECTURAL ENGINEERING           0.061931
76                   THEOLOGY AND RELIGIOUS VOCATIONS           0.062628
77                                   COMPUTER SCIENCE           0.063173
78               AREA ETHNIC AND CIVILIZATION STUDIES           0.063429
79                             EDUCATIONAL PSYCHOLOGY           0.065112
80                              AEROSPACE ENGINEERING           0.065162
81                               COMPUTER ENGINEERING           0.065409
82                       NATURAL RESOURCES MANAGEMENT           0.066619
83                                       MICROBIOLOGY           0.066776
84                       FAMILY AND CONSUMER SCIENCES           0.067128
85                   ADVERTISING AND PUBLIC RELATIONS           0.067961
86                                         HUMANITIES           0.068584

[87 rows x 2 columns]